{
  "extends": [
    "airbnb",
    "prettier"
  ],
  "rules": {
    "react/jsx-filename-extension": 0,
    "react/jsx-one-expression-per-line": 1,
    "import/no-unresolved": 1,
    "import/order": 0
  },
  "globals": {
    "__PATH_PREFIX__": true
  }
}
